<a href="https://colab.research.google.com/github/hfairyz/AI_ML/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict_Team1 = {'Name' : ['장영진', '이상민', '김진재', '장효정'],
              'Nationality' : ['Korea', 'Korea', 'Korea', 'Korea'],
              'Hobby' : ['Listening_Music','Reading_Books','Traveling','Sleeping'],
              'MajorIn' : ['Statistics','Mathematics','Statistics','Statistics']}

In [3]:
df1 = pd.DataFrame(dict_Team1)
df1

  Name Nationality            Hobby      MajorIn
0  장영진       Korea  Listening_Music   Statistics
1  이상민       Korea    Reading_Books  Mathematics
2  김진재       Korea        Traveling   Statistics
3  장효정       Korea         Sleeping   Statistics

In [4]:
df1 = df1.set_index('Name')
df1

     Nationality            Hobby      MajorIn
Name
장영진        Korea  Listening_Music   Statistics
이상민        Korea    Reading_Books  Mathematics
김진재        Korea        Traveling   Statistics
장효정        Korea         Sleeping   Statistics

In [6]:
df1.count()

Nationality    4
Hobby          4
MajorIn        4
dtype: int64

In [5]:
df1.to_csv()

'Name,Nationality,Hobby,MajorIn\n장영진,Korea,Listening_Music,Statistics\n이상민,Korea,Reading_Books,Mathematics\n김진재,Korea,Traveling,Statistics\n장효정,Korea,Sleeping,Statistics\n'